@import "tailwindcss";
@theme {
  fontfamily: {
    satoshi: [ '"Satoshi"', "sans-serif"];
  }
}

@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap");

body {
  font-family: "Satoshi", sans-serif;
  background-color: #0a0a0a;
  color: white;
}
