@import "tailwindcss";

@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap");

:root {
  --font-base: "Satoshi", sans-serif;
}

body {
  font-family: var(--font-base);
  background-color: #0a0a0a;
  color: white;
}
